html::-webkit-scrollbar-thumb {
    background-color: #88304E;
    border-radius: 20px;
    border: 2px solid #88304E;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

html::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar {
    -webkit-appearance: none;
}

html::-webkit-scrollbar-track-piece {
    background-color: #17181b;
}

html::-webkit-scrollbar:vertical {
    width: 10px;
}

html::-webkit-scrollbar:horizontal {
    height: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0B0E14;
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    background: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
}

.menu-links {
    position: absolute;
    background: #282c34a4;
    display: flex;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 2000px rgba(26, 28, 32, 0.9);
    flex-direction: column;
    top: 6vh;
    width: 20%;
    height: max-content;
    z-index: 2;
    text-align: center;
    left: 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
    border-radius: 0 0 5px 0;
}

a {
    text-decoration: none;
}

.nav-active {
    transform: translateX(0%);
    transition: transform .5s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

img {
    image-resolution: inherit;
}

.menu-links>li {
    display: inherit;
    flex-direction: inherit;
    align-items: flex-start;
}

.menu-links>li>a {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 100%;
    text-align: start;
    color: white;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-links>li>a:hover {
    color: #af3b77;
    transition: color 0.15s ease-in;
}

.menu {
    margin-left: 0.5%;
    cursor: pointer;
}

.name-user>a:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.name-user>a>img {
    border-radius: 50%;
}

.name-user {
    margin-right: 1%;
}

.name-user>a {
    opacity: 0.8;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-size: 12px;
}

.logo {
    margin-left: 2%;
    margin-top: 0%;
}

.logo:hover {
    filter: blur(1.05px) contrast(120%);
    cursor: default;
}


/*clases y contenido*/

.body {
    margin-top: 4%;
    justify-content: center;
    width: 100%;
    min-width: 15%;
    height: max-content;
    max-height: max-content;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 0.5em;
}

.clases div {
    width: 100%;
    justify-content: start;
    display: grid;
    grid-template-columns: 50% 50%;
    border-right: 2px solid #282c34c7;
}

.clases button {
    cursor: pointer;
    width: 90%;
    margin: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    outline: none;
    background-color: #a31f4b;
    border-radius: 25px;
    border-width: 0px;
}

.clases h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1.9%;
}

.clases button:hover {
    background-color: #96103c;
    transition: background-color .3s ease-in;
}

.clases button>span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.clases button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.clases button:hover span {
    padding-right: 25px;
}

.clases button:hover span:after {
    opacity: 1;
    right: 0;
}

.descripcion {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descripcion h3 {
    color: white;
    padding: 5px;
    text-align: center;
}

.descripcion p {
    text-align: justify;
    color: rgb(182, 182, 182);
}